* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Roboto, Lato, Helvetica, Arial, sans-serif;
  color: #030303;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

.bqflow {
  display: flex;
  min-height: 100vh;
}

.bqflow .palette {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 200px;
  min-height: 100vh;
  border-right: 1px solid lightgray;
}
.bqflow .add-swim-btn {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background: #232840;
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.3s;
  border-radius: 0;
}
.bqflow .add-swim-btn:hover {
  border-color: #232840;
  background-color: #fff;
  color: #232840;
}

.bqflow .add-swim-btn:active,
.bqflow .add-swim-btn:focus {
  outline: none;
}

aside {
  width: 250px;
}

.bqflow .palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.bqflow .shape {
  margin: 10px;
  height: 85px;
  width: 150px;
  border: solid 2px #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #fff, #68adb9);
}

.bqflow .circle {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}

.bqflow .square {
  width: 75px;
  height: 75px;
}

.bqflow .panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.bqflow .properties {
  margin-top: 10px;
}

.bqflow .key {
  color: lightslategray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: 25px;
}

.bqflow .value {
  color: darkslategray;
  font-weight: bolder;
}

.bqflow .no-data {
  color: darkslategray;
}

.canvas .bottom {
  /* width: calc(100% - 200px); */
  border: 1px solid lightgray;
  position: relative;
  display: flex;
}

.canvas .bottom > div {
  outline: 1px solid #ddd;
}

main.canvas .swim-no {
  max-width: 50px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  border-left: 1px solid lightgray;
  padding: 5px;
  display: flex;
  /* align-items: stretch; */
  min-height: 350px;
  position: relative;
  min-width: 29px;
}

main.canvas .top {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.canvas .top .title {
  font-size: 14px;
  color: #fff;
  background-color: #232840;
  text-align: center;
  padding: 10px;
  outline: 1px solid #fff;
  font-weight: 400;
}

main.canvas .top .title.desc {
  flex: 1;
}
main.canvas .top .title.process {
  width: 1010px;
}

main.canvas .swim-no p {
  height: 100%;
  text-align: center;
}

main.canvas .swim-no .edit-step {
  position: absolute;
  top: 80%;
  transform: translateX(-50%) rotate(180deg);
  z-index: 9;
  border: 2px solid #232840;
  box-shadow: 0 0 10px rgb(0 0 0 / 35%);
  outline: 1px solid #fff;
}

main.canvas .swim-no .edit-step input {
  padding: 5px;
}

main.canvas .swim-no .edit-step input:focus,
main.canvas .swim-no .edit-step input:active {
  outline: none;
}

main.canvas .remove {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  font-size: 14px;
}

.bqflow .buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.buttons button {
  margin: 4px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 4px;
}

.buttons button:hover {
  background: darkgray;
}

.swimlanes {
  position: relative;
  flex: 1;
}
.side-buttons-parent {
  flex-wrap: column;
}

.side-buttons button {
  margin: 7px 0;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 4px;
  width: 100%;
}

.property-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 200px;
  width: 100%;
}

.bqflow .swimlanes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bqflow .text-update {
  flex-direction: column;
}
.bqflow .text-update #text {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 14px;
  border-radius: 0;
  margin: 10px 0;
}
.bqflow .text-update #text:focus,
.bqflow .text-update #text:active {
  outline: none;
}
.bqflow .menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  list-style: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  min-width: 150px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #232840;
}

.bqflow .menu li {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
}
.bqflow .menu li:hover {
  background-color: #232840;
  color: #fff;
}

.bqflow .desc textarea {
  width: 200px;
  resize: none;
  height: 100%;
  padding: 5px;
}

.bqflow .desc textarea:focus,
.bqflow .desc textarea:active {
  outline: none;
}
